.hero{
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding-left: 180px;
        line-height: 1.1;
        .h2{
            color: #090909;
            font-size: 26px;
        }
        .p{
            color: #171717;
            font-size: 100px;
            font-weight: 700;
        }
        .hand-icon{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    .right{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.hand-icon img{
    width: 105px;
}

.latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: red;
    color: white;
    font-weight: 500;
}